@charset 'UTF-8';


* {
    margin: 0px;
    padding: 0px;

}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5F2C82;
}

main {
    display: block;
    background-color: white;
    margin: auto;
    width: 300px;
    height: 400px;
    border-radius: 0px 0px 15px 15px;
}

main h1 {
    text-align: center;
    padding: 15px;
}
main p {
    padding: 10px;
    font-size: 0.9em;
}